<%- include('../../header.ejs') %>

    <section class="dashboard-wrap mtb-40">
        <div class="container">
            <div class="body-content">
                <div class="row">
                    <div class="col-md-3">
                        <div class="dash-left">
                            <ul>
                                <li class="active"><a href="/admin/dashboard">Dashboard</a></li>
                                <li><a href="/admin/createblog">Create Blogs</a></li>
                                <li><a href="/admin/displayblog">Blogs Display</a></li>
                                <li><a href="/admin/createcategory">Create Category</a></li>
                                <li><a href="/admin/categorydisplay"> Category Display</a></li>
                                <li><a href="/admin/contactdisplay">Contact</a></li>
                               <li><a href="/logout">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="dash-right">
                            <div class="dash-header">
                                <div class="dash-title">
                                    <h1 class="text-info">Edit Category</h1>
                                </div>
                            </div>
                            <div class="blog-form">
                                <form action="/admin/categoryupdate/<%= data._id %>" method="post">
                                    <div class="form-group form-row">
                                        <label class="col-md-3">Category name <span class="required">*</span></label>
                                        <div class="col-md-9">
                                            <input name="cname" type="text" class="form-control" placeholder="Title"
                                                required value="<%= data.cname %>">
                                        </div>
                                    </div>

                                    <label class="col-md-3"></label>
                                    <div class="col-md-9">
                                        <button type="submit" class="btn btn-primary">Update</button>
                                    </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <%- include('../../footer.ejs') %>